.won-nft-box {
    min-height: 100vh;
    width: 700px !important;
    padding: 40px;
    border-radius: 10px;
    -webkit-box-shadow: 0 0 37px rgb(8 21 66 / 5%);
    box-shadow: 0 0 37px rgb(8 21 66 / 5%);
    margin: 0 auto;
    background-color: #fff;
}

.background {
    min-height: 100vh;
    background: url(https://pix10.agoda.net/hotelImages/301716/-1/fe9724d8fb4da3dd4590353bd771a276.jpg);
}

@media only screen and (max-width: 800px) {
    .won-nft-box {
        width: auto !important;
        padding: 20px;
    }
}